<!DOCTYPE html>
<html>
	<head>
		<title>Dockerfiles</title>
		<link rel="stylesheet" href="/static/style.css">
	</head>
	<body>
		<header>
			<h1>Dockerfiles</h1>
			<nav>
				<a href="/">[Home]</a>
			</nav>
			<hr>
		</header>	
		<article>
			<h1>Built on OSS</h1>
			<p>This is a demo site that uses my golang routing library <a href="https://github.com/lukasmwerner/pine">pine</a>. 
			The basic goal is to make a simple place for me to store sample language dockerfiles that I can use to quickly startup 
			projects.</p>
		</article>
		<div class="posts">
			<h1>Posts:</h1>
			{{range $i, $post := .Posts}}
			<a href="{{$post}}"><h2>{{$post}}</h2></a>
			{{end}}
		</div>
		<footer>
			<hr>
			<p id="copy"></p>	
			<p>Proudly Hosted on <a href="https://hafen.run">Hafen.run</a></p>
		</footer>
		<script>
			var copy = document.getElementById("copy");
			copy.innerHTML = "© " + new Date().getFullYear() + " Lukas Werner";
		</script>
	</body>
</html>
