<!DOCTYPE html>
<html>
	<head>
		<title>Lukas Werner - {{.Title}}</title>
		<link rel="stylesheet" href="/static/style.css">
		<link rel="apple-touch-icon" sizes="180x180" href="/static/apple-touch-icon.png">
		<link rel="icon" type="image/png" sizes="32x32" href="/static/favicon-32x32.png">
		<link rel="icon" type="image/png" sizes="16x16" href="/static/favicon-16x16.png">
		<link rel="manifest" href="/static/site.webmanifest">
	</head>
	<body>
		<header>
			<h1>{{.Title}}</h1>
			<nav>
				<a href="/">[Home]</a>
			</nav>
			<hr>
		</header>
		<article>
			{{.Content}}
		</article>
		<footer>
			<hr>
			<p id="copy"></p>	
			<p>Proudly Hosted on <a href="https://hafen.run">Hafen.run</a></p>
		</footer>
		<script>
			var copy = document.getElementById("copy");
			copy.innerHTML = "© " + new Date().getFullYear() + " Lukas Werner";
		</script>
	</body>
</html>
